global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # Default ciphers to use on SSL-enabled listening sockets.
        # For more information, see ciphers(1SSL). This list is from:
        #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
        ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
        ssl-default-bind-options no-sslv3

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        option http-server-close
        retries                 3
        timeout http-request    10s
        timeout queue           1m
        timeout connect         10s
        timeout client          1m
        timeout server          1m
        timeout http-keep-alive 10s
        timeout check           10s
        maxconn                 3000

frontend ss
  bind *:3080
  mode tcp
  option tcplog
  use_backend ss

backend ss
  mode tcp
  balance roundrobin

  timeout check 2s

  server ss.hk.33.io 127.0.0.1:2080 check inter 1s
  server ss.hk1.xyh.io hk1.xyh.io:2080 check inter 1s
  server ss.hk2.xyh.io hk2.xyh.io:2080 check inter 1s
  server ss.spider.go.jp1 139.162.111.185:2080 check inter 1s
  server ss.spider.go.uk1 178.79.155.19:2080 check inter 1s
  server ss.spider.go.us1 50.116.21.149:2080 check inter 1s
  
frontend ss-jp1
  bind *:4080
  mode tcp
  option tcplog
  use_backend ss-jp1

backend ss-jp1
  mode tcp
  balance roundrobin

  timeout check 2s

  server ss.spider.go.jp1 139.162.111.185:2080 check inter 1s

frontend ss-uk1
  bind *:5080
  mode tcp
  option tcplog
  use_backend ss-uk1

backend ss-uk1
  mode tcp
  balance roundrobin

  timeout check 2s

  server ss.spider.go.uk1 uk1.go.xyh.io:2080 check inter 1s

frontend ss-us1
  bind *:6080
  mode tcp
  option tcplog
  use_backend ss-us1

backend ss-us1
  mode tcp
  balance roundrobin

  timeout check 2s

  server ss.spider.go.us1 us1.go.xyh.io:2080 check inter 1s

listen stats
  bind *:1936
  stats enable
  stats uri /
  stats hide-version
  stats auth xyh:jackson99
