server {
    listen 80;
    server_name crm.xyh;
    index index.php;
    error_log /var/log/nginx/crm.error.log;
    access_log /var/log/nginx/crm.access.log;
    root /home/kingmax/cyb/hello-world/php/slim/project/public;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php {
         try_files $uri =404;
         fastcgi_split_path_info ^(.+\.php)(/.+)$;
         fastcgi_pass unix:/run/php/php7.1-fpm.sock;
         fastcgi_index index.php;
         fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
         include fastcgi_params;

    }
}